<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather for <%= weather.name %></h1>
    <p>Temperature: <%= weather.main.temp %>°C</p>
    <p>Description: <%= weather.weather[0].description %></p>
</body>
</html>